:root {
  --color-base-gray-100: #FAFAFA;
  --color-base-gray-200: #BFBFD4;
  --color-base-gray-400: #7F7F98;
  --color-base-gray-500: #3B3B54;
  --color-base-gray-600: #1E1E29;
  --color-base-gray-800: #111118;
  --color-transparent: transparent;
  --color-white: #fff;
  --color-white-opacity-50: rgb(255 255 255 / 50%);
  --color-black: #000;
}
